<div class="land-page">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
    data-bs-pause="false"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img
          src="/resources/sale1.png"
          class="d-block"
          alt="/resources/Logo.png"
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="/resources/sale2.png"
          class="d-block"
          alt="/resources/Logo.png"
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="/resources/sale3.png"
          class="d-block"
          alt="/resources/Logo.png"
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="/resources/sale4.png"
          class="d-block"
          alt="/resources/Logo.png"
        />
      </div>
    </div>
  </div>
</div>
