<div class="filter">
  <div>
    <h2>New Arrivals</h2>
  </div>
  <div class="opt">
    <button class="btn opt-btn" style="margin-left: 0%">Ladies</button
    ><button class="btn opt-btn">Men</button
    ><button class="btn opt-btn">Home</button
    ><button class="btn opt-btn">Kids</button
    ><button class="btn opt-btn">More</button>
  </div>
  <div></div>
</div>
