<header>
  <nav class="mb-3">
    <div class="top">
      <div class="nav-opt">
        <a class="btn" href="/customerService">Customer Service</a>
        <a class="btn" href="/newsLetter">Newsletter</a>
        <button class="btn">Find a store</button>
      </div>
      <div class="logo">
        <a href="/listings"
          ><img src="/resources/Logo.png" class="logo" alt="Urban Trendz"
        /></a>
      </div>
      <div class="nav-opt">
        <a class="btn Sign-in" href="/login">
          <i class="fa-regular fa-user"></i> Sign in
        </a>
        <button class="btn">
          <i class="fa-regular fa-heart"></i> Favourites
        </button>
        <button class="btn"><i class="bi bi-bag-heart"></i> Cart</button>
      </div>
    </div>

    <div class="container">
      <div class="navbar">
        <div class="header">
          <ul class="menu">
            <li><a class="btn">Ladies</a></li>
            <li><a class="btn">Men</a></li>
            <li><a class="btn">Baby</a></li>
            <li><a class="btn">Kids</a></li>
            <li><a class="btn">Home</a></li>
            <li><a class="btn">Sport</a></li>
            <li><a class="btn">Sale</a></li>
          </ul>
        </div>
      </div>
  </nav>
</header>
