<header>
  <nav>
    <div class="top">
      <div class="nav-opt">
        <button class="btn">Customer Service</button>
        <button class="btn">Newsletter</button>
        <button class="btn">Find a store</button>
      </div>
      <div class="logo">
        <img src="/resources/Logo.png" alt="Urban Trendz" />
      </div>
      <div class="nav-opt">
        <a class="btn Sign-in" href="/Sign-In">
          <i class="fa-regular fa-user"></i> Sign in
        </a>
        <button class="btn">
          <i class="fa-regular fa-heart"></i> Favourites
        </button>
        <button class="btn"><i class="bi bi-bag-heart"></i> Cart</button>
      </div>
    </div>

    <div class="bottom">
      <div>
        <button class="btn">Ladies</button>
        <button class="btn">Men</button>
        <button class="btn">Baby</button>
        <button class="btn">Kids</button>
        <button class="btn">Home</button>
        <button class="btn">Sport</button>
        <button class="btn">Sale</button>
      </div>
    </div>
  </nav>
</header>
