body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 98%;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  flex: 1;
}

/* Navbar */
.logo {
  width: 100px;
  height: 100px;
}
div > img {
  width: 100%;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-opt {
  font-size: 700 !important;
}

/* Landing */

.carousel-item {
  height: 85vh;
  margin-bottom: 3rem;
}

.carousel-item img {
  position: relative;
  left: 15%;
  width: 70%;
  height: 97%;
}

/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0% !important;
  font-weight: 400;
}

.listing-links {
  text-decoration: none;
}

/* Card-effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: #fff;
}

/* Footer */

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.25rem;
  margin-right: 1rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}
